/data/kaggle_datasets
*.exe
*.pyc
/coding/Sliding_window/.ipynb_checkpoints
/.venv 
/CampusX/Generative AI using LangChain/CODE/chat_models/huggingface_cache
/.env
.claude/settings.local.json  
/CLAUDE.md
*.cph